@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .menu-open {
    display: none;
  }

  .header-navigation {
    align-items: center;
    margin-right: auto;
    margin-left: 76px;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--first-title-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }

  .current {
    color: var(--btn-hover-color);
  }

  .header-link.current::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--btn-hover-color);
    border-radius: 2px;
    left: 0;
    bottom: -28px;
  }

  .header-link:hover,
  .header-link:focus {
    color: var(--btn-color);
  }

  .contact-list {
    display: block;
    margin-left: auto;
  }

  .contact-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-link:hover,
  .contact-link:focus {
    color: var(--btn-color);
  }

  /* ---Hero--- */
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tab.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tab-2x.jpg);
    }
  }

  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    width: 496px;
  }
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .team-item:not(:last-child) {
    margin-bottom: 0;
  }
  .benefits-title {
    text-align: left;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 64px;
    column-gap: 24px;
  }
  .customers-list {
    gap: 24px;
  }

  .customers-item {
    width: calc((100% - 48px) / 3);
  }
  .footer-inf {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-logo-inf {
    margin-right: 24px;
  }
  .footer-sub {
    display: flex;
  }
  .footer-input {
    width: 264px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1999px) {
  .benefits-item,
  .team-item {
    width: calc((100% - 30px) / 2);
  }
  .footer-inf {
    padding-left: 108px;
    padding-right: 164px;
  }
}
